<template>
  <div class="grid">
    <ul v-for="genre in genres" :key="genre.name">
      <input  type="checkbox" :value="genre" v-model="checked" /><label class="text-gray-700 text-xl"
        >{{ genre.name }}</label
      >
    </ul>
  </div>
</template>

<script>
export default {
  name: "Cue",

  props: ["genres"],
  data() {
    return { checked: [] };
  },
  watch: {
    checked: function() {
      this.$emit("checkbox", this.checked);
    },
  },
};
</script>
<style>
.grid {
   display: grid;
   grid-template-columns: auto auto auto auto auto auto auto;
}
</style>
