<template>
  <div class="pager">
    <div id="limiter">
      <label class="text-gray-700">Filter By Rate: </label>
      <ul>
        <select v-model="rate" id="rate">
          <option disabled value="">Please select Rate</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "FilterMovie",

  computed: {
    rate: {
      get() {
        return this.$store.state.rate;
      },
      set(value) {
        this.$store.commit("SET_RATE", value);
      },
    },
  },
};
</script>
