<template>
  <div id="login" class="px-16 py-16">
    <div
      class="bg-blue-300 bg-opacity-0 max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl "
    >
      <h1 class="text-gray-700 text-3xl text-center my-3">Sign In</h1>
      <p class="text-gray-500 ">
        If you have an account with us, please log in.
      </p>
      <form class="text-gray-600 flex flex-col">
        <div class="my-3">
          <label for="email"
            >Email Address <span class="required">*</span></label
          >
          <input
            type="text"
            title="Email Address"
            class="border rounded w-full py-2 px-4 outline-none focus:shadow-outline"
            name="email"
            v-model="input.email"
          />
        </div>
        <div class="my-3">
          <label for="pass">Password <span class="required">*</span></label>
          <br />
          <input
            type="password"
            title="Password"
            id="password"
            class="border rounded w-full py-2 px-4 outline-none focus:shadow-outline"
            name="password"
            v-model="input.password"
          />
        </div>
        <div class="my-3 self-center">
          <button
            id="send2"
            name="send"
            type="submit"
            class="rounded py-2 px-2 border-red-700 bg-red-600 text-white mr-1 text-xl"
            v-on:click="login()"
          >
            SIGN IN
          </button>
        </div>
        <div class="alert alert-warning" role="alert" v-if="inCorrect">
          email or password is incorrect
        </div>
        <div class="alert alert-warning" role="alert" v-if="missing">
          email or password is missing
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { SET_AUTHENTICATED } from "../store/mutation-types";
import { mapMutations } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      input: {
        email: "",
        password: "",
      },
      inCorrect: false,
      missing: false,
    };
  },
  methods: {
    ...mapMutations({
      setAuthenticated: SET_AUTHENTICATED,
    }),
    login() {
      if (this.input.email != "" && this.input.password != "") {
        if (
          this.input.email == this.$parent.Account.email &&
          this.input.password == this.$parent.Account.password
        ) {
          this.setAuthenticated(true);
          this.$emit("authenticated", true);
          this.$router.replace({ name: "showmovies" });
        } else {
          this.inCorrect = true;
        }
      } else {
        this.missing = true;
      }
    },
  },
};
</script>
