<template>
  <div class="card">
    <div class="product-image-area">
      <a>
        <img
          :src="images.base_url + posterSize + movie.poster_path"
          class="img-responsive"
        />
      </a>
      <div class="hover_fly">
        <a class="rate">Rating :{{ movie.vote_average }}</a>
      </div>
    </div>
    <div class="m-4">
      <div class="info-inner ">
        <div class=" title text-white">
          {{ movie.title }}
        </div>

        <div class="item-popularity  text-gray-700">{{ movie.popularity }}</div>

        <div
          class="item-genres  text-gray-700 text-xl"
          v-for="genre in movie.genres"
          :key="genre.id"
        >
          -{{ genre.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MovieItem",
  props: ["images", "movie", "posterSize"],
};
</script>
<style>
.item-genres {
  display: inline-flex;
  justify-content: space-between;
}
.rate {
  color: white;
}
.col-item .info {
  margin-bottom: 10px;
}
.title {
  font-family: "Tangerine", serif;
  font-size: 16px;
}
</style>
