<template>
  <div class="px-16 py-18">
    <h1 class="title text-red-700 text-xl">Movies</h1>

    <FilterMovie />
    <Cue :genres="genres" @checkbox="checked" />

    <div class="mt-8 grid grid-cols-6">
      <MovieItem
        :images="images"
        :posterSize="posterSize"
        v-for="movie in paginatedData"
        :movie="movie"
        :key="movie.id"
      />
    </div>

    <div class="pagination">
      <a @click="prevPage">&laquo;</a>
      <div v-for="i in pageCount" :key="i">
        <a @click="switchPage(i)">{{ i }}</a>
      </div>
      <a @click="nextPage">&raquo;</a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapMutations } from "vuex";
import { SET_CHECKED } from "../store/mutation-types";
import MovieItem from "../components/MovieItem";
import FilterMovie from "../components/FilterMovie";
import Cue from "../components/Cue";
export default {
  data() {
    return { check: [], pageNumber: 0 , paginationData:[]};
  },
  components: {
    MovieItem,
    FilterMovie,
    Cue,
  },

  computed: {
    ...mapGetters({
      filteredMovies: "filteredMovies",
      posterSize: "posterSize",
      images: "images",
      genres: "genres",
    }),
    pageCount() {
      let l = this.filteredMovies.length,
        s = this.size;
      return Math.ceil(l / s);
    },
    paginatedData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.filteredMovies.slice(start, end);
    },
  },
  props: {
    size: {
      type: Number,
      required: false,
      default: 8,
    },
  },
  mounted() {
    this.$store.watch(
      (state) => state.filteredMovies,
      () => {}
    );
    this.$store.dispatch("getMovies");
    this.$store.dispatch("getImages");
    this.$store.dispatch("getGenres");
  },
  methods: {
    ...mapMutations({
      setchecked: SET_CHECKED,
    }),

    checked: function(params) {
      this.check = params;
      this.setchecked(this.check);
      this.pageNumber=0;
    },
    nextPage() {
      this.pageNumber++;
    },
    switchPage(i) {
      console.log(i);
      this.pageNumber = i-1;
    },
    prevPage() {
      this.pageNumber--;
    },
  },
};
</script>
<style scoped>
.pagination {
  display: inline-flex;
}

.pagination a {
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #fff;
  color: white;
  border: 1px solid #fff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.title {
  font-family: "Tangerine", serif;
  font-size: 48px;
}
</style>
